body {
    background-color: grey;
}

#chessboard {
    width: 40%;
    text-align: center;
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 0;
    padding-top: 120px;
}

.square {
    width: 80px;
    height: 80px;
    border: 5px solid black;
    display: inline-block;
    margin: 0 auto;
    
 }

 .square-purple {
    background-color: rgb(107, 44, 185);
    width: 80px;
    height: 80px;
    border: 5px solid black;
    display: inline-block;
    margin: 0 auto;
 }



 
