.container-fluid,.row {
    --bs-gutter-x: 0!important
}

.hintDiv,.puzzleAttributes {
    max-height: 1vh;
    color: #fff
}

img {
    display: flex;
    text-align: center;
    
}

#ratingValue,#spinnerLoad,#turnColor {
    color: var(--hauptfarbe)
}

blockquote,body,dd,dl,figure,footer,footer p,h1,h2,h3,h4,p {
    margin: 0
}

footer a,footer a:hover {
    text-decoration: none
}

:root {
    --grau: #2d2e2e;
    --schwarz: #100c08;
    --hauptfarbe: #7748c1;
    --alt-hauptfarbe: #7748c1;
    --hauptfarbe-dunkel: #7748c1;
    --hauptfarbe-hell: #7748c1;
    --mandel: #F2E2d2
}

*,::after,::before {
    box-sizing: border-box
}

ol[role=list],ul[role=list] {
    list-style: none
}

html:focus-within {
    scroll-behavior: smooth
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

button,input,select,textarea {
    font: inherit
}

body,html {
    font-size: 16px;
    overflow-x: hidden
}

.btn.btn-transparent,.item,.navbar-nav a,h1,p {
    color: #fff
}

.nav-link:hover,.wortmarke {
    color: var(--hauptfarbe)!important
}

.container-fluid {
    margin-bottom: 0!important;
    padding-bottom: 0!important
}

body {
    background-color: var(--grau);
    font-family: Rubik,sans-serif!important
}

.logoYC {
    padding-top: 2px;
    width: 150px;
    height: auto
}

.wortmarke {
    font-size: 30px!important;
    font-weight: 700!important;
    margin-left: -100px!important
}

.btn.btn-primary,.btn.btn-primary:hover {
    color: #100c08;
    font-weight: 600;
    border-width: 4px
}

.navbar-toggler {
    border-radius: 4px!important;
    padding: 8px!important;
    width: 40px!important;
    height: 40px!important;
    border: 1px solid #fffefe!important;
    background-color: transparent!important
}

.custom-toggler-icon {
    display: inline-block!important;
    width: 24px!important;
    height: 24px!important
}

.line {
    display: block!important;
    width: 100%!important;
    height: 2px!important;
    background-color: var(--mandel)!important;
    margin: 4px 0!important
}

.board,.leftSide,.puzzleAttributes,.puzzleInfo,.rightSide,.titlePuzzle {
    background-color: var(--grau)
}

.navbar-toggler:hover {
    background-color: rgba(0,0,0,.1)!important;
    border-color: var(--hauptfarbe)!important
}

.navbar-toggler:focus .line,.navbar-toggler:hover .line {
    background-color: var(--hauptfarbe)!important
}

.navbar-toggler:focus {
    outline: 0!important;
    box-shadow: 0 0 0 2px var(--hauptfarbe)!important
}

.titlePuzzle {
    justify-content: center;
    align-items: center
}

.titlePuzzle h2 {
    color: #fff;
    padding-top: 10px
}

.titleAction {
    font-size: .95rem
}

#ratingName {
    margin-left: 2rem
}

#ratingName,#ratingValue {
    font-size: .95rem;
    font-style: italic
}

.puzzleAttributes {
    align-items: flex-start
}

#spinnerLoad {
    height: 20px;
    width: 20px
}

#chessboard,.board,.left,.right {
    width: 100%;
    background-color: var(--grau)
}

#boardmain {
    display: flex;
    justify-content: center
}

#board1 {
    width: 70vh;
    visibility: hidden
}

#puzzleDetails {
    margin-bottom: 20px
}

.settings {
    height: 50%
}

.left, .right {
    height: 25vh
}

.progress {
    width: 65vh
}

#rating, .ratingField {
    background-color: whitesmoke
    color: #fff;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    margin: auto;
    border-radius: 6px;
    padding: 0
}

#puzzleProgress {
    display: flex;
    background-color: var(--hauptfarbe-dunkel);
    color: var(--hauptfarbe-dunkel)
}

.skipIcons {
    border-radius: 4px
}

.btn.btn-primary {
    background-color: var(--hauptfarbe);
    border-color: var(--hauptfarbe);
    border-radius: 6px;
    padding: .5em
}

.btn.btn-primary:hover {
    background-color: var(--hauptfarbe-hell);
    border-color: var(--hauptfarbe-hell);
    border-radius: 6px
}

.btn.btn-primary:active {
    background-color: var(--hauptfarbe-hell)!important;
    border-color: var(--hauptfarbe-hell)!important;
    color: #100c08!important;
    border-radius: 6px;
    border-width: 4px;
    font-weight: 600
}

.btn.btn-secondary,.btn.btn-secondary:hover {
    border-color: var(--hauptfarbe);
    border-width: 2px;
    font-weight: 600;
    border-radius: 6px;
    background-color: transparent;
    color: var(--hauptfarbe)
}

.btn.btn-secondary:hover {
    box-shadow: -.4em var(--hover);
    transform: translateY(-.25em)
}

.impressumBody,.impressumHeader,footer,footer a,footer p {
    color: #fff
}

.btn.btn-secondary:active {
    background-color: var(--hauptfarbe-dunkel)!important;
    border-color: var(--hauptfarbe-dunkel)!important;
    color: #fff;
    border-radius: 6px;
    border-width: 4px;
    font-weight: 600
}

.btn.btn-success,.btn.btn-success:hover {
    color: #100c08;
    font-weight: 600
}

.btn-transparent {
    background-color: transparent;
    border: solid px;
    border-radius: px;
    padding: 4px;
    transition: .2s ease-in-out;
    font-weight: 600
}

.adSpace,.impressumBody,.impressumHeader,footer {
    background-color: var(--grau)
}

.btn-transparent:hover {
    background-color: rgba(255,255,255,.1);
    border: solid px;
    font-weight: 600
}

.btn-transparent:active {
    background-color: rgba(255,255,255,.2);
    border: 1px solid #fff;
    font-weight: 600
}

.btn.btn-success,.material-icons:hover {
    background-color: var(--hauptfarbe)
}

.adSpace {
    height: 400px
}

.footerContainer {
    margin-top: 100px;
    height: 50px
}

footer {
    padding: 0
}

footer a:hover {
    color: var(--hauptfarbe)
}

.btn.btn-success:hover {
    background-color: var(--hauptfarbe-dunkel)
}

.btn.btn-success:active {
    background-color: var(--hauptfarbe-dunkel)!important;
    color: #100c08!important;
    font-weight: 600
}

.impressumBody {
    line-height: 1rem
}

@media (prefers-reduced-motion:reduce) {
    html:focus-within {
        scroll-behavior: auto
    }

    *,::after,::before {
        animation-duration: 0s!important;
        animation-iteration-count: 1!important;
        transition-duration: 0s!important;
        scroll-behavior: auto!important
    }
}


@media only screen and (max-device-width: 380px) {
    #rating,.chooseRating {
        font-size:.7rem
    }

    .buttonBar {
        font-size: 1rem
    }

    span.material-icons {
        font-size: .9rem
    }

    .btn.btn-primary,.btn.btn-secondary {
        font-size: .6rem
    }
}

@media only screen and (max-device-width: 500px) {
    .nav-item.nav-link,.puzzleAttributes {
        font-size:.9rem
    }

    #rating,.buttonBar,.chooseRating,.titlePuzzle h2 {
        font-size: 1rem
    }

    .progress {
        width: 35vh
    }

    .footer a {
        font-size: .5rem
    }

    span.material-icons {
        font-size: 1.3rem
    }

    .btn.btn-primary {
        font-size: .8rem
    }
}

@media only screen and (min-device-width: 500px) {
    .titlePuzzle h2 {
        font-size:1rem
    }

    .puzzleAttributes {
        font-size: .9rem
    }

    .footer a {
        font-size: .5rem
    }

    #rating,.chooseRating,span.material-icons {
        font-size: 1.5rem
    }
}

@media only screen and (min-device-width: 768px) {
    .titlePuzzle h2 {
        font-size:1.2rem
    }

    .puzzleAttributes {
        font-size: 1rem
    }

    #rating,.chooseRating,span.material-icons {
        font-size: 1.5rem
    }
}

@media (max-width: 767.98px) {
    .navbar-nav {
        display: flex;
        flex-direction: column
    }


}

@media (min-width: 768px) {
    .navbar {
        padding-top:1rem;
        max-height: 8vh
    }

    .navbar-nav {
        justify-content: flex-start;
        margin-left: 0!important;
        padding-left: 0
    }
}

.highlight1-32417,.highlight2-9c5d2 {
    box-shadow: inset 0 0 3px 3px #000
}

.highlight-wrong {
    box-shadow: inset 0 0 3px 3px red
}

.highlight-computer {
    box-shadow: inset 0 0 3px 3px #00f
}

.highlight-correct {
    box-shadow: inset 0 0 3px 3px #0f0
}

.highlight-hint {
    box-shadow: inset 0 0 3px 3px #ff0
}
